/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* astronaut  */

#astronaut > img {
    z-index: 100;
    bottom: 30%;
    display: block;
    left: 70%;
    animation: anim 20s linear infinite;
    position: absolute;
}

#astronaut2 > img {
    z-index: 50;
    bottom: 50%;
    display: block;
    left: 10%;
    position: absolute;
    animation: anim2 20s linear infinite;
    animation-delay: 1s;
}

/* astronaut animation */

@keyframes anim {
    0% {
      transform: translateY(0px);
    }
    10%{
      transform: translateY(30px) rotate(10deg);
    }
    20%{
      transform: translateY(60px) rotate(20deg);
    }
     30%{
      transform: translateY(90px) rotate(30deg);
    }
     40%{
      transform: translateY(120px) rotate(20deg);
    }
    50% {
      transform: translateY(150px) rotate(30deg);
    }
    60%{
      transform: translateY(120px) rotate(40deg);
    }
    70%{
      transform: translateY(90px) rotate(10deg);
    }
    80%{
      transform: translateY(60px) rotate(20deg);
    }
    90%{
      transform: translateY(30px) rotate(10deg);
    }
     100% {
      transform: translateY(0px);
    }
}

@keyframes anim2 {
    0% {
      transform: translateY(0px);
    }
    10%{
      transform: translateY(-30px) rotate(-10deg);
    }
    20%{
      transform: translateY(-60px) rotate(-20deg);
    }
     30%{
      transform: translateY(-90px) rotate(-10deg);
    }
     40%{
      transform: translateY(-120px) rotate(0deg);
    }
    50% {
      transform: translateY(-150px) rotate(-10deg);
    }
    60%{
      transform: translateY(-120px) rotate(0deg);
    }
    70%{
      transform: translateY(-90px) rotate(20deg);
    }
    80%{
      transform: translateY(-60px) rotate(10deg);
    }
    90%{
      transform: translateY(-30px) rotate(0deg);
    }
     100% {
      transform: translateY(0px);
    }
}


/* animated gradient background*/

.text-container {
    z-index: 100;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.text-container h1 {
    font-size: 100px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

:root {
    --color-bg1: rgb(97, 2, 144);
    --color-bg2: rgb(1, 14, 65);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --blending: hard-light;
}
  
@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
}
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}
  
.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
}
  
.gradient-bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.gradient-bg .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
}

.gradient-bg .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
    opacity: 1;
}

.gradient-bg .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.gradient-bg .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}